{% extends "base.html" %}
{% load static %}
{% block content %}

    <nav class="navbar bg-dark">
      <h1>
        <a href="dashboard.html"> <i class="fas fa-code"></i> DevConnector </a>
      </h1>
      <ul>
        <li><a href="profiles.html">Developers</a></li>
        <li><a href="register.html">Register</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
    <section class="container">
      <!-- Alert -->

      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-danger">
        {{message}}
      </div>
      {% endfor %}
      {% endif %}

      <h1 class="large text-primary">
        Sign In
      </h1>
      <p class="lead"><i class="fas fa-user"></i> Sign into your account</p>
      <form action="{% url 'login' %}" class="form" method="post">
        {% csrf_token %}
        {% for field in form %}
        
        <div class="form-group">
          {{field.label_tag}}
          {{field}}
          {{field.help_text}}
          {{field.errors}}
        </div>
        {% endfor %}
        <input type="submit" value="Login" class="btn btn-primary" />
      </form>
      <p class="my-1">
        Don't have an account? <a href="register.html">Sign Up</a>
      </p>
    </section>
    {% endblock content %}
