{% extends "base.html" %} {% load static %} {% block content %}

<
<section class="container">
  <a href="posts.html" class="btn">Back To Posts</a>
  
  <div class="post bg-white p-1 my-1">
    <div>
      <a href="{{post.author.get_absolute_url}}">
        <img
          class="round-img"
          src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
          alt=""
        />
        <h4>{{post.author.get_full_name}}</h4>
      </a>
    </div>
    <div>
      <h3>{{post.title}}</h3>
      <p class="my-1">
        {{post.body}}
      </p>
      <span>{{post.create_at|timesince}}</span>
    </div>
  </div>




  <div class="post-form">
    <div class="post-form-header bg-primary">
      <h3>Leave A Comment</h3>
    </div>
    <form class="form my-1" action="{{post.get_absolute_url}}" method="post">
      {% csrf_token %}
      <textarea
        cols="30"
        rows="5"
        placeholder="Comment on this post"
        name="new_comment_body"
       ></textarea>
      <input type="submit" class="btn btn-dark my-1" value="Submit" />
    </form>
  </div>


  <div class="posts">
    
    {% for comment in post.comment_set.all %}
    <div class="post bg-white p-1 my-1">
      <div>
        <a href="{{comment.author.get_absolute_url}}">
          <img
            class="round-img"
            src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50?s=200"
            alt=""
          />
          <h4>{{comment.author.get_full_name}}</h4>
        </a>
      </div>
      <div>
        <p class="my-1">
          {{comment.body}}
        </p>
        <span>{{comment.create_at|timesince}}</span>
      </div>
    </div>

    {% endfor %}
    
  </div>
</section>
{% endblock content %}
